body {
    padding: 50px;
}
.yt-margin-right {
    margin-right: 10px;
}
.yt-social-link,
.yt-social-link:hover {
    text-decoration: none !important;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 800px) {
    body {
        padding: 20px;
    }
}